#chatbor-response h1{
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 10px;
}
#chatbor-response h2{
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
#chatbor-response h3{
    font-size: large;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
#chatbor-response li {
    margin-left: 15px;
    margin-bottom: 3px;
}
#chatbor-response ol {
    margin-left: 15px;
    list-style-type:decimal;
}
#chatbor-response ul {
    list-style-type:disc;     /* Adds bullets */
    padding-left: 20px;        /* Creates space for bullets */
}